# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rust analyzer temporary files
**/target/rust-analyzer/
**/target/debug/.fingerprint/
**/target/debug/incremental/
**/uniclipboard.db
src-tauri/uniclipboard.db
src-tauri/crates/**/target/**
src-tauri/.app_data/
src-tauri/.app_data_a/
src-tauri/.app_data_b/
public/splashscreen.html
.worktrees/
.env
target
